body {
    padding: 0;
    margin: 0;
}

.app-wrapper {
    display: grid;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    padding: 5px;
    background-color: #999;
    grid-area: header;
}

.nav {
    padding: 5px;
    background-color: #888;
    grid-area: nav;
}

.content {
    padding: 5px;
    background-color: #777;
    grid-area: content;
}